/*Academic Projects*/
.academic-projects {
  display: flex;
}
.academic_img {
  align-items: center;
  background-color: var(--colorBlueLight);
  box-shadow: -0.5rem 0.5rem 0 0.5rem var(--colorBlueGreenDark);
  display: flex;
  height: 70vh;
  justify-content: center;
  width: 30vw;
}
.academic_img img {
  height: 68vh;
  max-width: 34vw;
  width: auto;
}
.academic_resume {
  align-items: center;
  background-color: var(--colorBackgroundGreenLightly);
  box-shadow: -0.5rem 0.5rem 0 0.5rem var(--colorButtonGreenBorder);
  color: var(--colorBlackText);
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
  width: 52vw;
}
.academic_text,
.a_project_text {
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
  -webkit-border-radius: 2vh;
  align-items: center;
  background-color: var(--colorWhiteGreen);
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  height: 20vh;
  padding: 1vh;
  text-align: justify;
  width: 90%;
}
.a_project_text p:last-child{
  font-size: 0.7rem;
}
.academic_class {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.academic_project {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.a_project_text {
  height: 15vh;
  text-align: center;
  width: 90%;
}
.academic_resume img {
  height: 20vh;
}
.academic_carousel {
  justify-content: space-evenly;
}
.a_carousel_main {
  -moz-border-radius: 5vh;
  -ms-border-radius: 5vh;
  -o-border-radius: 5vh;
  -webkit-border-radius: 5vh;
  border-radius: 5vh;
  display: flex;
  height: 75vh;
  width: 40vw;
}

.a_carousel_main:hover{
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.a_carousel_main .main_head {
  display: block;
  height: 50%;
  width: 90%;
}
.a_carousel_main .head_img {
  align-items: center;
  display: flex;
  height: 80%;
  justify-content: space-evenly;
}
.academic_carousel .main_img {
  background-color: transparent;
  width: 40%;
}
.academic_carousel .main_img img {
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  height: 90%;
  max-height: 28vh;
  max-width: 100%;
}
.academic_carousel .main_img img:hover {
  cursor: pointer;
  animation-name: rote;
  box-shadow: -0.15rem 0.15rem 0 0.15rem var(--colorButtonGreenBorder);
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes rote{
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
50% {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}
100%{
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
}

.academic_carousel .description_links {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 90%;
  justify-items: center;
  width: 50%;
}
.academic_carousel .description_links img,
.academic_carousel .description_links a img {
  box-shadow: 0 0.3rem 0 -0.15rem var(--colorBackgroundGreenLightly), 0 -0.3rem 0 -0.15rem var(--colorBackgroundGreenLightly), 0.3rem 0 0 -0.15rem var(--colorBackgroundGreenLightly), -0.3rem 0 0 -0.15rem var(--colorBackgroundGreenLightly), 0 0 0 0.15rem var(--colorButtonGreenBorder), 0.075rem 0.075rem 0.225rem 0.075rem rgba(0,0,0,0);
  height: 10vh;
  width: 10vh;
}
#a_main_imgclass {
  grid-column-start: 1;
  grid-row-start: 1;
}
.academic_carousel .description_links .tag {
  grid-column-start: 2;
  grid-row-start: 1;
}
#a_main_link_deploy_0, #a_main_link_deploy_1{
  grid-column-start: 1;
  grid-row-start: 2;
}
#a_main_link_deploy_0 img:hover, #a_main_link_deploy_1 img:hover{
  filter: brightness(5);
  -webkit-filter: brightness(5);
}
#a_main_link_github_0, #a_main_link_github_1{
  grid-column-start: 2;
  grid-row-start: 2;
}
#a_main_link_github_0 img:hover,#a_main_link_github_1 img:hover {
  filter: brightness(5); 
  -webkit-filter: brightness(5);
}
.academic_carousel .main_name {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
#a_main_name_1,
#a_main_name_0 {
  font-size: 2.2vw;
  font-weight: bold;
  text-align: center;
}
#a_main_key_1,
#a_main_key_0 {
  font-size: 1.6vw;
  font-weight: bolder;
  text-align: center;
}
.academic_carousel .description_text {
  -moz-border-radius: 0 0 2vh 2vh;
  -ms-border-radius: 0 0 2vh 2vh;
  -o-border-radius: 0 0 2vh 2vh;
  -webkit-border-radius: 0 0 2vh 2vh;
  border-radius: 0 0 2vh 2vh;
  width: 100%;
}
.academic.carousel_buttons {
  height: 8vh;
  margin-top: 2vh;
  width: 100vw;
}
.a_image_principal {
  align-items: center;
  background-color: var(--colorWhiteGreen);
  border: 5px solid var(--colorButtonGreenBorder);
  display: none;
  flex-direction: column;
  height: 60vh;
  justify-content: space-between;
  position: absolute;
  width: 40vw;
}
.a_image_principal a img {
  margin-top: 5vh;
  height: 50vh;
  max-width: 100%;
  max-height: 80%;
}
.a_image_principal button {
  margin-left: 35vw;
}