/*General Options*/
* {
  margin: 0%;
  padding: 0%;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -ms-transition:all 0.5s;
  -o-transition:all 0.5s;
  -webkit-transition: all;
}

/* Title Fonts style (font-family: 'Source Serif Pro', serif;)*/
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap");
/* Subtitle Fonts Style (font-family: 'Source Code Pro', monospace;)*/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
/* Emphasis Fonts Style (font-family: 'Architects Daughter', cursive;)*/
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
/* Text Fonts Style(font-family: 'Oswald', sans-serif;)*/
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root{
  --colorBackgroundBlueLight: #cedce1;
  --colorBackgroundGreen:#526a1f;
  --colorBackgroundGreenLightly:#aec3b0;
  --colorBackgroundMain:#eff6e0;
  --colorBlackText:#01161e;
  --colorBlueDark:#0577a380;
  --colorBlueGreenDark:#023244;
  --colorBlueLight:#2691bb;
  --colorBackgroundBlue:#abe6fc;
  --colorBlueSubTitle:#598392;
  --colorBlueTitle:#124559;
  --colorButtonBackgroundBlueLight:#d1f1fd;
  --colorButtonBackgroundWhite:#f7fdff;
  --colorButtonBlue:#034057;
  --colorButtonBlueBorder:#0793c9;
  --colorButtonBlueLightBorder:#08afef;
  --colorButtonGreen:#769979;
  --colorButtonGreenBorder:#415843;
  --colorButtonGreenHover:#6b906f;
  --colorButtonText:#03151d;
  --colorCSS:#543c7c;
  --colorCSSHover:#4b366f;
  --colorGreenBlackText:#172018;
  --colorHTML:#e34c26;
  --colorHTMLHover:#b73818;
  --colorJavaScript:#f1e05a;
  --colorJavaScriptHover:#e9d114;
  --colorList:#e4f7fe;
  --colorWhiteGreen:#eef4e0;
}

::-webkit-scrollbar {
  background-color: var(--colorButtonBlueBorder);
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--colorTextBlack);
  background-color: var(--colorButtonGreen);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--colorBackgroundGreen);
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
body {
  align-items: center;
  background-color: var(--colorBackgroundMain);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-size: 16px;
}
h1 {
  color: var(--colorBlueTitle);
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  font-weight: bolder;
}
h2 {
  color: var(--colorBlueSubTitle);
  font-family: "Architects Daughter", cursive;
  font-size: 1.8rem;
  font-weight: bold;
}
p {
  color: var(--colorBlackText);
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: normal;
}



/*Articles*/
article {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10vh;
  width: 80vw;
}
section {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

@media screen and (max-width: 480px) {
  about-me:hover {
    border: 5px solid var(--colorBlueGreenDark);
    width: 95vw;
  }
  about-me:hover {
    border: 5px solid var(--colorBlueGreenDark);
    width: 90vw;
  }
  prof_carousel_aux:hover {
    height: 35vh;
    width: 16vw;
  }

  #contact {
    background: transparent;
    height: 10vh;
    margin-left: 80vw;
    margin-top: 85vh;
    position: fixed;
    width: 10vh;
  }
  #contact_img {
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1vh solid var(--colorButtonGreen);
    height: 8vh;
    width: 8vh;
  }
  section {
    flex-direction: column;
  }
  .about-Me {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .title {
    flex-direction: column;
  }
  .about-me {
    margin-bottom: 5vh;
    width: 90vw;
  }
  .about-me_description p {
    font-size: min(16px, 4vw);
  }
  .about-me_buttons {
    width: 80vw;
  }
  button.timeLine,
  .tag {
    height: 10vh;
    width: 30vw;
  }
  button.CV,
  button.HV {
    height: 10vh;
    width: 15vw;
  }
  section.timeLine {
    height: 98vh;
    position: fixed;
    top: 0vh;
    width: 95vw;
    width: 95vw;
  }
  .timeLine_graph {
    display: none;
  }
  .timeLine_content {
    width: 90vw;
  }
  /*Professional repositories*/
  .repositories {
    flex-direction: column;
    height: auto;
  }
  .professional_img {
    flex-direction: column;
    margin-bottom: 5vh;
    width: 90vw;
  }
  .professional_img img {
    height: 90%;
    width: 90%;
  }
  .professional_resume {
    height: auto;
    width: 90vw;
  }
  .professional_ico {
    height: 30vh;
    margin-bottom: 2vh;
  }
  .professional_text {
    height: 40vh;
    margin-bottom: 2vh;
  }
  .prof_carousel_main,
  .a_carousel_main {
    width: 65vw;
  }
  .prof_carousel_aux {
    height: 35vh;
    width: 16vw;
  }
  .prof_carousel_aux .main_name {
    display: none;
  }
  .prof_carousel_aux .main_description {
    display: none;
  }
  .professional .carousel_buttons button.carousel {
    display: none;
  }
  .main_tag {
    font-size: min(12px, 2.2vw);
    width: 60vw;
  }
  /*Academic Projects*/
  .academic_img {
    margin-bottom: 2vh;
    width: 90vw;
  }
  .academic_img img {
    max-width: 85vw;
  }
  .academic_resume {
    height: auto;
    margin-bottom: 5vh;
    width: 90vw;
  }
  .academic_text {
    margin-top: 2vh;
  }
  .academic_class {
    flex-direction: column;
  }
  .academic_project {
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 100%;
  }
  #a_project_web {
    flex-direction: row-reverse;
  }
  .a_project_text {
    height: 25vh;
    justify-content: center;
    text-align: center;
    width: 60%;
  }
  .a_carousel_main {
    width: 90vw;
  }
  #a_carousel_main_1 {
    display: none;
  }
  .main_name {
    font-size: 4vw;
  }
  .academic_carousel .main_name {
    flex-direction: column;
  }
  #a_main_name_0 {
    font-size: 6vw;
  }
  .academic .carousel_buttons button.carousel {
    display: none;
  }
  /*Social-media*/
  .social-media {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .links {
    margin-bottom: 2vh;
    width: 90vw;
  }
  .s_carousel_main {
    height: 80vh;
    width: 80vw;
  }
  .s_carousel_main .main_head {
    justify-content: center;
    width: 100%;
  }
  .description_text {
    align-items: flex-start;
  }
  /*Form*/
  .contact button.close {
    left: 45vw;
    top: 2vh;
  }
  form h3 {
    display: none;
  }
  form button.tag {
    width: 45vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  prof_carousel_aux:hover {
    height: 35vh;
    width: 18vw;
  }

  .title {
    align-items: center;
    display: flex;
    height: 14vh;
    justify-content: space-around;
    width: 100vw;
  }
  h1,
  h2 {
    text-align: center;
  }
  button.timeLine,
  .tag {
    height: 6vh;
    width: 30vw;
  }
  button.CV,
  button.HV {
    height: 6vh;
    width: 6vw;
  }
  .timeLine_graph {
    width: 45vw;
  }
  .timeLine_content {
    width: 45vw;
  }
  /*Professional repositories*/
  .repositories {
    flex-direction: column;
    height: auto;
  }
  .professional_img {
    flex-direction: column;
    height: 70vh;
    margin-bottom: 5vh;
    width: 90vw;
  }
  .professional_img img {
    height: 90%;
    width: 90%;
  }
  .professional_resume {
    height: auto;
    width: 90vw;
  }
  .professional_ico {
    height: 30vh;
    margin-bottom: 2vh;
  }
  .professional_text {
    height: 40vh;
    margin-bottom: 2vh;
  }
  .prof_carousel_main,
  .a_carousel_main {
    width: 55vw;
  }
  .prof_carousel_aux {
    height: 35vh;
    width: 18vw;
  }
  .prof_carousel_aux .main_name {
    width: 15vw;
  }
  .prof_carousel_aux .main_name p {
    display: none;
  }
  .prof_carousel_aux .main_description {
    display: none;
  }
  .professional .carousel_buttons button.carousel {
    display: none;
  }
  .main_tag {
    font-size: min(12px, 2.2vw);
    width: 60vw;
  }
  /*Academic Projects*/
  .academic_img {
    margin-bottom: 3vh;
    width: 90vw;
  }
  .academic_img img {
    max-width: 85vw;
  }
  .academic_resume {
    height: auto;
    margin-bottom: 5vh;
    width: 90vw;
  }
  .academic_text {
    margin-top: 2vh;
  }
  .academic_class {
    flex-direction: column;
  }
  .academic_project {
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 100%;
  }
  #a_project_web {
    flex-direction: row-reverse;
  }
  .a_project_text {
    height: 25vh;
    justify-content: center;
    text-align: center;
    width: 70%;
  }
  .a_carousel_main {
    width: 40vw;
  }
  /*Social-media*/
  .social-media {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .links {
    margin-bottom: 2vh;
    width: 90vw;
  }
  .s_carousel_main {
    height: 80vh;
    margin-top: 5vh;
    width: 50vw;
  }
  .s_carousel_main .main_head {
    justify-content: center;
    width: 100%;
  }
  .description_text {
    align-items: center;
  }
}
