/*General Options*/
* {
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -webkit-transition: all;
  margin: 0%;
  padding: 0%;
  transition: all 0.5s;
}
/* Title Fonts style (font-family: 'Source Serif Pro', serif;)*/
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap");
/* Subtitle Fonts Style (font-family: 'Source Code Pro', monospace;)*/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
/* Emphasis Fonts Style (font-family: 'Architects Daughter', cursive;)*/
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
/* Text Fonts Style(font-family: 'Oswald', sans-serif;)*/
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  --colorBackgroundBlue: #abe6fc;
  --colorBackgroundBlueLight: #cedce1;
  --colorBackgroundGreen: #526a1f;
  --colorBackgroundGreenLightly: #aec3b0;
  --colorBackgroundMain: #eff6e0;
  --colorBlackText: #01161e;
  --colorBlueDark: #0577a380;
  --colorBlueGreenDark: #023244;
  --colorBlueLight: #2691bb;
  --colorBlueSubTitle: #598392;
  --colorBlueTitle: #124559;
  --colorButtonBackgroundBlueLight: #d1f1fd;
  --colorButtonBackgroundWhite: #f7fdff;
  --colorButtonBlue: #034057;
  --colorButtonBlueBorder: #0793c9;
  --colorButtonBlueLightBorder: #08afef;
  --colorButtonGreen: #769979;
  --colorButtonGreenBorder: #415843;
  --colorButtonGreenHover: #6b906f;
  --colorButtonText: #03151d;
  --colorCSS: #543c7c;
  --colorCSSHover: #4b366f;
  --colorGreenBlackText: #172018;
  --colorHTML: #e34c26;
  --colorHTMLHover: #b73818;
  --colorJavaScript: #f1e05a;
  --colorJavaScriptHover: #e9d114;
  --colorList: #e4f7fe;
  --colorWhiteGreen: #eef4e0;
}
::-webkit-scrollbar {
  background-color: var(--colorButtonBlueBorder);
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--colorTextBlack);
  background-color: var(--colorButtonGreen);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--colorBackgroundGreen);
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
body {
  align-items: center;
  background-color: var(--colorBackgroundMain);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: var(--colorBlueTitle);
  font-family: "Source Code Pro", monospace;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}
form label,
h2 {
  color: var(--colorBlueSubTitle);
  font-family: "Architects Daughter", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline wavy var(--colorBlueTitle);
  text-shadow: 0px 4px 0px var(--colorBlueLight);
}
h3 {
  color: var(--colorBlackText);
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
p {
  color: var(--colorBlackText);
  font-family: "Oswald", sans-serif;
  font-size: 0.95rem;
  font-weight: normal;
}
/*Articles*/
article {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-evenly;
}
section {
  display: flex;
  height: auto;
  justify-content: space-around;
}
@media screen and (max-width: 576px) {
  html {
    font-size: 15px;
  }
  h1 {
    font-size: 2.2rem;
  }
  /*Articles*/
  article {
    flex-direction: column;
    margin-top: 10vh;
    width: 90vw;
  }
  section {
    flex-direction: column;
    margin-top: 5vh;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 16px;
  }
  /*Articles*/
  article {
    flex-direction: column;
    margin-top: 10vh;
    width: 90vw;
  }
  section {
    flex-direction: column;
    margin-top: 5vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 18px;
  }
  /*Articles*/
  article {
    flex-direction: column;
    margin-top: 10vh;
    width: 80vw;
  }
  section {
    flex-direction: column;
    margin-top: 5vh;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 20px;
  }
  /*Articles*/
  article {
    flex-direction: column;
    margin-top: 10vh;
    width: 80vw;
  }
  section {
    margin-top: 5vh;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  html {
    font-size: 24px;
  }
  /*Articles*/
  article {
    flex-direction: column;
    margin-top: 10vh;
    width: 85vw;
  }
  section {
    margin-top: 5vh;
  }
}
@media screen and (min-width: 1800px) {
  html {
    font-size: max(32px, 1vw);
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.2rem;
  }
  /*Articles*/
  article {
    flex-direction: column;
    margin-top: 10vh;
    width: 90vw;
  }
  section {
    margin-top: 5vh;
  }
}
