/*General Options*/
* {
  margin: 0%;
  padding: 0%;
}
/* Title Fonts style (font-family: 'Source Serif Pro', serif;)*/
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap");
/* Subtitle Fonts Style (font-family: 'Source Code Pro', monospace;)*/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
/* Emphasis Fonts Style (font-family: 'Architects Daughter', cursive;)*/
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
/* Text Fonts Style(font-family: 'Oswald', sans-serif;)*/
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
h1 {
  color: #124559;
  font-family: "Source Code Pro", monospace;
  font-size: max(28px, 5vw);
  font-weight: bolder;
}
h2 {
  color: #598392;
  font-family: "Architects Daughter", cursive;
  font-size: max(24px, 3vw);
  font-weight: bold;
}
p {
  color: #01161e;
  font-family: "Oswald", sans-serif;
  font-size: max(16px, 1.5vw);
  font-weight: normal;
}
body {
  align-items: center;
  background-color: #eff6e0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
/*Header*/
header {
  align-items: center;
  background-color: #124559;
  display: flex;
  height: 18vh;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
}
header img {
  height: 16vh;
}
header ul {
  align-items: center;
  display: flex;
  list-style: none;
}
header ul li {
  text-align: center;
  width: 20vw;
}
header ul li a {
  color: #eff6e0;
  font-family: "Source Serif Pro", serif;
  font-size: 3vw;
  text-decoration: none;
}
header ul li a:hover {
  color: #e4f7fe;
  font-family: "Source Serif Pro", serif;
  font-size: 3.3vw;
  text-decoration: underline dotted #e4f7fe;
}
#contact {
  background: transparent;
  border: none;
  height: 10vh;
  margin-left: 90vw;
  margin-top: 84vh;
  position: fixed;
  width: 10vh;
}
#contact_img {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1.5vh solid #769979;
  height: 10vh;
  width: 10vh;
}
#contact_img:hover {
  border: 2vh solid #6b906f;
}
/*Articles*/
article {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5vh;
  width: 100vw;
}
section {
  display: flex;
  justify-content: space-around;
}
/*First Article (Introduce)*/
article.introduce {
  margin-top: 18vh;
}
.introduce_carousel {
  display: flex;
  height: 70vh;
  justify-content: space-around;
  width: 100vw;
}
.introduce_carousel img {
  width: 90vw;
}
.carousel_buttons {
  align-items: flex-start;
  display: flex;
  height: 10vh;
  justify-content: space-around;
  margin-top: 2vh;
  width: 50vw;
}
button.carousel {
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  background-color: #769979;
  border-radius: 100%;
  border: 5px solid #415843;
  height: 8vh;
  width: 8vh;
}
button.carousel:hover {
  background-color: #415843;
  border: 5px solid #769979;
}
/*Second Article About me*/
.about-Me {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.title {
  align-items: center;
  display: flex;
  height: 15vh;
  justify-content: space-around;
  width: 100vw;
}
.about-me {
  -moz-border-radius: 5vh;
  -ms-border-radius: 5vh;
  -o-border-radius: 5vh;
  -webkit-border-radius: 5vh;
  align-items: center;
  background-color: #0577a3;
  border-radius: 5vh;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  width: 30vw;
}
.about-me:hover {
  border: 5px solid #023244;
  height: 72vh;
  width: 32vw;
}
#skills {
  background-color: #2691bb;
}
.about-me_img {
  align-items: center;
  display: flex;
  height: 28%;
  justify-content: center;
}
.about-me_img img {
  height: 15vh;
}
.about-me_img img:hover {
  height: 18vh;
}
.about-me_description {
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
  -webkit-border-radius: 2vh;
  align-items: center;
  background-color: #abe6fc;
  border-radius: 2vh;
  display: flex;
  height: 50%;
  justify-content: center;
  overflow: auto;
  width: 90%;
}
.about-me_description p {
  font-size: max(2vw, 18px);
  text-align: center;
}
.about-me_buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 20%;
  justify-content: space-around;
  width: 12vw;
}
button.timeLine,
.tag {
  -moz-border-radius: 3vh;
  -ms-border-radius: 3vh;
  -o-border-radius: 3vh;
  -webkit-border-radius: 3vh;
  background-color: #023244;
  border-radius: 3vh;
  border: 5px solid #cedce1;
  color: #cedce1;
  font-weight: bold;
  height: 5vh;
  width: 10vw;
}
button.timeLine:hover,
button.tag:hover {
  background-color: #cedce1;
  border: 5px solid #023244;
  color: #023244;
}
button.CV {
  -moz-border-radius: 2.5vh 0 0 2.5vh;
  -ms-border-radius: 2.5vh 0 0 2.5vh;
  -o-border-radius: 2.5vh 0 0 2.5vh;
  -webkit-border-radius: 2.5vh 0 0 2.5vh;
  background-color: #d1f1fd;
  border-radius: 2.5vh 0 0 2.5vh;
  border: 5px solid #0793c9;
  color: #03151d;
  font-weight: bold;
  height: 5vh;
  margin-right: 0;
  width: 5vw;
}
button.CV:hover {
  background-color: #0793c9;
  border: 5px solid #d1f1fd;
  color: #eef4e0;
}
button.HV {
  -moz-border-radius: 0 2.5vh 2.5vh 0;
  -ms-border-radius: 0 2.5vh 2.5vh 0;
  -o-border-radius: 0 2.5vh 2.5vh 0;
  -webkit-border-radius: 0 2.5vh 2.5vh 0;
  background-color: #f7fdff;
  border-radius: 0 2.5vh 2.5vh 0;
  border: 5px solid #08afef;
  color: #03151d;
  font-weight: bold;
  height: 5vh;
  margin-left: 0;
  width: 5vw;
}
button.HV:hover {
  background-color: #08afef;
  border: 5px solid #eef4e0;
  color: #eef4e0;
}
/*Timeline display*/
section.timeLine {
  align-items: center;
  background-color: #2691bb;
  border: 10px solid #034057;
  display: none;
  height: 75vh;
  justify-content: space-evenly;
  position: absolute;
  top: 115vh;
  width: 80vw;
}
.timeLine_graph {
  background-color: #e6ede7;
  border: 5px solid #a7bea9;
  display: flex;
  height: 90%;
  width: 55%;
}
.timeLine_graph img {
  height: 95%;
  width: 95%;
}
.timeLine_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  width: 40%;
}
.timeLine_img {
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  align-items: center;
  background-color: #e6ede7;
  border-radius: 100%;
  border: 5px solid #769979;
  display: flex;
  height: 20vh;
  justify-content: center;
  margin-bottom: 1vh;
  width: 20vh;
}
.timeLine_img img {
  height: 90%;
  width: 90%;
}
.timeLine_img:hover {
  height: 22vh;
  width: 22vh;
}
.timeLine_text {
  align-items: center;
  background-color: #aec3b0;
  border: 5px solid #6b906f;
  display: flex;
  height: 40vh;
  justify-content: center;
  margin-bottom: 2vh;
  width: 90%;
}
.timeLine_button {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 90%;
}
button.left,
button.right,
button.down {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  align-items: center;
  background-color: #aec3b0;
  border-radius: 50%;
  border: 3px solid #fdfdfd;
  display: flex;
  font-weight: bolder;
  height: 6vh;
  justify-content: center;
  width: 6vh;
}
button.left:hover,
button.right:hover,
button.down:hover {
  background-color: #6b906f;
  border-radius: 50%;
  border: 3px solid #aec3b0;
}
button img {
  height: 3vh;
  width: 3vh;
}
button.close {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  align-items: center;
  background-color: #03151d;
  border-radius: 50%;
  border: 3px solid #eef4e0;
  color: #eef4e0;
  display: flex;
  font-weight: bolder;
  height: 6vh;
  justify-content: center;
  position: absolute;
  width: 6vh;
}
.timeLine button.close {
  margin-bottom: 65vh;
  margin-left: 75vw;
}
button.close:hover {
  background-color: #eef4e0;
  border: 3px solid #03151d;
  color: #03151d;
}
/*Professional repositories*/
.repositories {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: space-evenly;
  width: 100vw;
}
.professional_img {
  align-items: center;
  background-color: #2691bb;
  display: flex;
  height: 90%;
  justify-content: center;
  width: 40%;
}
.professional_img img {
  height: 95%;
  width: 95%;
}
.professional_resume {
  align-items: center;
  background-color: #aec3b0;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
  width: 50%;
}
.professional_ico {
  align-items: center;
  display: flex;
  height: 35%;
  justify-content: center;
  width: 90%;
}
.professional_ico img {
  height: 25vh;
}
.professional_text {
  align-items: center;
  background-color: #e6ede7;
  display: flex;
  height: 50%;
  padding: 1vw;
  text-align: justify;
  width: 90%;
}
section.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
  width: 100vw;
}
.professional_carousel,
.academic_carousel {
  align-items: flex-end;
  display: flex;
  height: 75vh;
  justify-content: space-around;
  width: 100vw;
}
.prof_carousel_main,
.a_carousel_main {
  -moz-border-radius: 5vh;
  -ms-border-radius: 5vh;
  -o-border-radius: 5vh;
  -webkit-border-radius: 5vh;
  align-items: center;
  align-self: center;
  background-color: #aec3b0;
  border-radius: 5vh;
  color: #172018;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
  width: 35vw;
}
.main_name {
  align-items:center;
  display: flex;
  flex-direction: column;
  height: 10%;
  text-align: center;
  width: 95%;
}
.main_img {
  -moz-border-radius: 5vh 5vh 0 0;
  -ms-border-radius: 5vh 5vh 0 0;
  -o-border-radius: 5vh 5vh 0 0;
  -webkit-border-radius: 5vh 5vh 0 0;
  align-items: center;
  background-color: #023244;
  border-radius: 5vh 5vh 0 0;
  display: flex;
  height: 30vh;
  justify-content: center;
  width: 95%;
}
.professional_carousel .main_img img {
  -moz-border-radius: 2vh 2vh 0 0;
  -ms-border-radius: 2vh 2vh 0 0;
  -o-border-radius: 2vh 2vh 0 0;
  -webkit-border-radius: 2vh 2vh 0 0;
  border-radius: 2vh 2vh 0 0;
  height: auto;
  max-height: 28vh;
  max-width: 100%;
}
.prof_main_overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 80%;
}
.prof_main_overlay p {
  color: white;
  font-size: 3vh;
}
.main_img:hover .prof_main_overlay {
  opacity: 1;
  position: static;
}
.main_description {
  align-items: center;
  display: flex;
  height: 40%;
  justify-content: space-between;
  width: 95%;
}
.description_text {
  -moz-border-radius: 0 0 0 5vh;
  -ms-border-radius: 0 0 0 5vh;
  -o-border-radius: 0 0 0 5vh;
  -webkit-border-radius: 0 0 0 5vh;
  align-items: center;
  background-color: #e6ede7;
  border-radius: 0 0 0 5vh;
  color: #023244;
  display: flex;
  font-size: max(18px, 3vh);
  height: 95%;
  justify-content: center;
  overflow: hidden;
  padding: 0.5vh;
  text-align: justify;
  width: 75%;
}
.description_links {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: space-between;
  width: 20%;
}
.description_links img {
  height: 100%;
  width: 100%;
}
.description_links button {
  width: 90%;
}
.main_tag {
  -moz-border-radius: 5vh;
  -ms-border-radius: 5vh;
  -o-border-radius: 5vh;
  -webkit-border-radius: 5vh;
  align-items: center;
  background-color: #e6ede7;
  border-radius: 5vh;
  border: 5px solid #415843;
  color: #023244;
  display: none;
  flex-direction: column;
  font-weight: bolder;
  height: 20vh;
  justify-content: space-around;
  position: absolute;
  width: 30vw;
}
.tag_progress {
  align-items: center;
  color: #e6ede7;
  display: flex;
  height: 10vh;
  justify-content: space-evenly;
  text-shadow: 2px 2px 2px #023244;
  width: 90%;
}
.tag {
  align-items: center;
  height: 5vh;
  justify-content: center;
  margin-left: 2%;
  padding: 2%;
}
.tag_html {
  -moz-border-radius: 0 0 0 4vh;
  -ms-border-radius: 0 0 0 4vh;
  -o-border-radius: 0 0 0 4vh;
  -webkit-border-radius: 0 0 0 4vh;
  background-color: #e34c26;
  border-radius: 0 0 0 4vh;
  display: flex;
  width: 20.8%;
}
.tag_html:hover {
  background-color: #b73818;
}
.tag_css {
  background-color: #543c7c;
  display: flex;
  width: 30.6%;
}
.tag_css:hover {
  background-color: #4b366f;
}
.tag_js {
  -moz-border-radius: 0 0 4vh 0;
  -ms-border-radius: 0 0 4vh 0;
  -o-border-radius: 0 0 4vh 0;
  -webkit-border-radius: 0 0 4vh 0;
  background-color: #f1e05a;
  border-radius: 0 0 4vh 0;
  display: flex;
  width: 48.6%;
}
.tag_js:hover {
  background-color: #e9d114;
}
.main_tag button.close {
  height: 5vh;
  margin-bottom: 12vh;
  margin-left: 25vw;
  width: 5vh;
}
.prof_carousel_aux {
  height: 50vh;
  width: 20vw;
}
.prof_carousel_aux:hover {
  cursor: pointer;
  height: 55vh;
  width: 25vw;
}
.prof_carousel_aux .main_img {
  -moz-border-radius: 1vh 1vh 0 0;
  -ms-border-radius: 1vh 1vh 0 0;
  -o-border-radius: 1vh 1vh 0 0;
  -webkit-border-radius: 1vh 1vh 0 0;
  border-radius: 1vh 1vh 0 0;
  height: 15vh;
}
.prof_carousel_aux .main_img img {
  -moz-border-radius: 2vh 2vh 0 0;
  -ms-border-radius: 2vh 2vh 0 0;
  -o-border-radius: 2vh 2vh 0 0;
  -webkit-border-radius: 2vh 2vh 0 0;
  border-radius: 2vh 2vh 0 0;
  height: auto;
  max-height: 12vh;
  max-width: 100%;
}
.prof_carousel_aux .description_text {
  align-items: flex-start;
  font-size: max(16px, 2vh);
}
.prof_carousel_aux .description_links img {
  height: 6vh;
  width: auto;
}
.professional.carousel_buttons {
  align-items: flex-start;
  height: 8vh;
  margin-top: 2vh;
  width: 100vw;
}
.carousel_buttons button.carousel {
  height: 5vh;
  width: 5vh;
}
/*Academic Projects*/
.academic-projects {
  display: flex;
}
.academic_img {
  align-items: center;
  background-color: #2691bb;
  display: flex;
  height: 70vh;
  justify-content: center;
  width: 35vw;
}
.academic_img img {
  height: 68vh;
  max-width: 34vw;
  width: auto;
}
.academic_resume {
  align-items: center;
  background-color: #aec3b0;
  color: #01161e;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
  width: 55vw;
}
.academic_text,
.a_project_text {
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
  -webkit-border-radius: 2vh;
  align-items: center;
  background-color: #e6ede7;
  border-radius: 2vh;
  display: flex;
  height: 20vh;
  padding: 1vh;
  text-align: justify;
  width: 90%;
}
.academic_class {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.academic_project {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.a_project_text {
  height: 15vh;
  text-align: center;
  width: 90%;
}
.academic_resume img {
  height: 20vh;
}
.a_carousel_main {
  -moz-border-radius: 5vh;
  -ms-border-radius: 5vh;
  -o-border-radius: 5vh;
  -webkit-border-radius: 5vh;
  border-radius: 5vh;
  display: flex;
  height: 70vh;
  width: 45vw;
}
.a_carousel_main .main_head {
  height: 50%;
  width: 90%;
}
.a_carousel_main .head_img {
  display: flex;
  height: 80%;
  justify-content: space-evenly;
}
.academic_carousel .main_img {
  background-color: transparent;
  width: 40%;
}
.academic_carousel .main_img img {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 90%;
  max-height: 28vh;
  max-width: 100%;
}
.academic_carousel .main_img img:hover {
  cursor: pointer;
}
.academic_carousel .description_links {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 90%;
  justify-items: center;
  width: 50%;
}
.academic_carousel .description_links img,
.academic_carousel .description_links a img {
  height: 10vh;
  width: 10vh;
}
#a_main_imgclass {
  grid-column-start: 1;
  grid-row-start: 1;
}
.academic_carousel .description_links .tag {
  grid-column-start: 2;
  grid-row-start: 1;
}
#a_main_link_deploy {
  grid-column-start: 1;
  grid-row-start: 2;
}
#a_main_link_github {
  grid-column-start: 2;
  grid-row-start: 2;
}
.academic_carousel .main_name {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2vh;
  width: 100%;
}
#a_main_name_1,
#a_main_name_0 {
  font-size: 2vw;
  font-weight: bolder;
}
.academic_carousel .description_text {
  -moz-border-radius: 0 0 2vh 2vh;
  -ms-border-radius: 0 0 2vh 2vh;
  -o-border-radius: 0 0 2vh 2vh;
  -webkit-border-radius: 0 0 2vh 2vh;
  border-radius: 0 0 2vh 2vh;
  width: 100%;
}
.academic.carousel_buttons {
  height: 8vh;
  margin-top: 5vh;
  width: 100vw;
}
.a_image_principal {
  align-items: center;
  background-color: #e6ede7;
  display: none;
  flex-direction: column;
  height: 60vh;
  justify-content: space-between;
  position: absolute;
  width: 40vw;
}
.a_image_principal a img {
  height: 55vh;
  max-width: 100%;
}
.a_image_principal button {
  margin-left: 35vw;
}
/*Social-media*/
.social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.links {
  background-color: #aec3b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh;
  width: 50vw;
}
.Social_profile {
  align-items: center;
  display: flex;
  display: flex;
  flex-direction: row;
  height: 20vh;
  justify-content: space-around;
  padding: 2vh;
}
#social_github {
  flex-direction: row-reverse;
}
.Social_profile_text {
  align-items: center;
  background-color: #e6ede7;
  color: #01161e;
  display: flex;
  display: flex;
  font-size: max(16px, 2vh);
  height: 20vh;
  justify-content: center;
  padding: 1vh;
  text-align: justify;
  width: 70%;
}
.social-media img {
  height: 20vh;
}
.s_carousel_main {
  -moz-border-radius: 5vh 5vh 0 0;
  -ms-border-radius: 5vh 5vh 0 0;
  -o-border-radius: 5vh 5vh 0 0;
  -webkit-border-radius: 5vh 5vh 0 0;
  align-items: center;
  background-color: #aec3b0;
  border-radius: 5vh 5vh 0 0;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
  overflow: hidden;
  width: 30vw;
}
.s_carousel_main .main_head{
  display: flex;
  justify-content: center;
  width: 90%;
  flex-direction: column;
}
.s_carousel_main .main_head .head_img {
  display: flex;
  justify-content: center;
  width: 100%;
}
.s_carousel_main .main_head img {
  height: 15vh;
  width: auto;
}
.s_carousel_main .main_head .main_name {
  align-items: center;
  height: 8vh;
  justify-content: center;
  width: 100%;
}
#s_main_name {
  font-weight: bolder;
}
#s_main_bar {
  align-self: flex-start;
  background-color: #526a1f;
  display: flex;
  height: 2vh;
  width: 0%;
}
.s_carousel_main .description_text {
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: max(15px, min(2vw, 3vh));
  height: 40vh;
  width: 95%;
  overflow: auto;
}
.s_carousel_main .description_links {
  flex-direction: row;
  height: 10vh;
  justify-content: space-evenly;
  width: 100%;
}
.s_carousel_main .description_links img {
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
  -webkit-border-radius: 1vh;
  border-radius: 1vh;
  height: 8vh;
}
/*Form*/
.contact button.close {
  left: 55vw;
  top: 5vh;
}
section.contact {
  align-items: center;
  background-color: #2691bb;
  border: 1vh solid #034057;
  display: none;
  height: 70vh;
  justify-content: space-evenly;
  left: 20vw;
  position: fixed;
  top: 25vh;
  width: 60vw;
}
.contact-img {
  align-items: center;
  display: flex;
  height: 95%;
  justify-content: center;
  width: 45%;
}
.contact-img img {
  width: 90%;
}
.contact-contact {
  width: 50%;
}
form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: space-evenly;
  width: 100%;
}
form input,
form textarea {
  border: 1vh solid #034057;
  width: 95%;
}
form button.tag {
  height: 8vh;
  margin-top: 1vh;
  padding: 1vh;
  width: 15vw;
}
/*Footer*/
footer {
  align-items: center;
  background-color: #124559;
  display: flex;
  height: 18vh;
  justify-content: space-around;
  margin-top: 10vh;
  width: 100%;
}
.footer_img {
  align-items: center;
  display: flex;
  height: 18vh;
  justify-content: center;
  width: 25vw;
}
.footer_img img {
  height: 16vh;
}
.footer_text {
  align-items: center;
  color: #eef4e0;
  display: flex;
  flex-direction: column;
  height: 18vh;
  text-align: center;
  width: 70vw;
}
.up {
  font-size: 5vh;
  height: 12vh;
}
.footer_text ul {
  list-style: none;
}
.down {
  height: 6vh;
}
@media screen and (max-width: 479px) {
  about-me:hover {
    border: 5px solid #023244;
    height: 72vh;
    width: 95vw;
  }

  #contact {
    background: transparent;
    height: 10vh;
    margin-left: 80vw;
    margin-top: 85vh;
    position: fixed;
    width: 10vh;
  }
  #contact_img {
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1vh solid #769979;
    height: 8vh;
    width: 8vh;
  }
  section {
    flex-direction: column;
  }
  .about-Me {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .title {
    flex-direction: column;
  }
  .about-me {
    margin-bottom: 5vh;
    width: 90vw;
  }
  .about-me_description p {
    font-size: min(16px, 4vw);
  }
  .about-me_buttons {
    width: 80vw;
  }
  button.timeLine,
  .tag {
    height: 10vh;
    width: 30vw;
  }
  button.CV,
  button.HV {
    height: 10vh;
    width: 15vw;
  }
  section.timeLine {
    height: 90vh;
    position: absolute;
    top: 0vh;
    width: 90vw;
  }
  .timeLine_graph {
    display: none;
  }
  /*Professional repositories*/
  .repositories {
    flex-direction: column;
    height: auto;
  }
  .professional_img {
    flex-direction: column;
    margin-bottom: 5vh;
    width: 90vw;
  }
  .professional_img img {
    height: 90%;
    width: 90%;
  }
  .professional_resume {
    height: auto;
    width: 90vw;
  }
  .professional_ico {
    height: 30vh;
    margin-bottom: 2vh;
  }
  .professional_text {
    height: 40vh;
    margin-bottom: 2vh;
  }
  .prof_carousel_main,
  .a_carousel_main {
    margin-top: 5vh;
    width: 65vw;
  }
  .prof_carousel_aux {
    height: 35vh;
    width: 16vw;
  }
  
  .prof_carousel_aux:hover {
    height: 35vh;
    width: 16vw;
  }
  .prof_carousel_aux .main_name {
    display: none;
  }
  .prof_carousel_aux .main_description {
    display: none;
  }
  .professional .carousel_buttons button.carousel {
    display: none;
  }
  .main_tag {
    font-size: min(12px, 2.2vw);
    width: 60vw;
  }
  /*Academic Projects*/
  .academic_img {
    margin-bottom: 2vh;
    width: 90vw;
  }
  .academic_img img {
    max-width: 85vw;
  }
  .academic_resume {
    height: auto;
    margin-bottom: 5vh;
    width: 90vw;
  }
  .academic_text {
    margin-top: 2vh;
  }
  .academic_class {
    flex-direction: column;
  }
  .academic_project {
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 100%;
  }
  #a_project_web {
    flex-direction: row-reverse;
  }
  .a_project_text {
    height: 25vh;
    justify-content: center;
    text-align: center;
    width: 60%;
  }
  .a_carousel_main {
    width: 90vw;
  }
  #a_carousel_main_1 {
    display: none;
  }
  .main_name {
    font-size: 4vw;
  }
  .academic_carousel .main_name {
    flex-direction: column;}
  #a_main_name_0 {
    font-size: 6vw;
  }
  .academic .carousel_buttons button.carousel {
    display: none;
  }
  /*Social-media*/
  .social-media {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .links {
    margin-bottom: 2vh;
    width: 90vw;
  }
  .s_carousel_main {
    width: 80vw;
    height: 80vh;
  }
  .s_carousel_main .main_head{
    width: 100%;
    justify-content: center;
  }
  .description_text {
    align-items: flex-start;
  }
  /*Form*/
  .contact button.close {
    left: 45vw;
    top: 2vh;
  }
  form h3 {
    display: none;
  }
  form button.tag {
    width: 45vw;
  }
}
