/*General Options*/
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0%;
  padding: 0%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all;
}

/* Title Fonts style (font-family: 'Source Serif Pro', serif;)*/
/* Subtitle Fonts Style (font-family: 'Source Code Pro', monospace;)*/
/* Emphasis Fonts Style (font-family: 'Architects Daughter', cursive;)*/
/* Text Fonts Style(font-family: 'Oswald', sans-serif;)*/
:root {
  --colorBackgroundBlueLight: #cedce1;
  --colorBackgroundGreen:#526a1f;
  --colorBackgroundGreenLightly:#aec3b0;
  --colorBackgroundMain:#eff6e0;
  --colorBlackText:#01161e;
  --colorBlueDark:#0577a380;
  --colorBlueGreenDark:#023244;
  --colorBlueLight:#2691bb;
  --colorBackgroundBlue:#abe6fc;
  --colorBlueSubTitle:#598392;
  --colorBlueTitle:#124559;
  --colorButtonBackgroundBlueLight:#d1f1fd;
  --colorButtonBackgroundWhite:#f7fdff;
  --colorButtonBlue:#034057;
  --colorButtonBlueBorder:#0793c9;
  --colorButtonBlueLightBorder:#08afef;
  --colorButtonGreen:#769979;
  --colorButtonGreenBorder:#415843;
  --colorButtonGreenHover:#6b906f;
  --colorButtonText:#03151d;
  --colorCSS:#543c7c;
  --colorCSSHover:#4b366f;
  --colorGreenBlackText:#172018;
  --colorHTML:#e34c26;
  --colorHTMLHover:#b73818;
  --colorJavaScript:#f1e05a;
  --colorJavaScriptHover:#e9d114;
  --colorList:#e4f7fe;
  --colorWhiteGreen:#eef4e0;
}

::-webkit-scrollbar {
  background-color: var(--colorButtonBlueBorder);
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--colorTextBlack);
  background-color: var(--colorButtonGreen);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--colorBackgroundGreen);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  align-items: center;
  background-color: var(--colorBackgroundMain);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1 {
  color: var(--colorBlueTitle);
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
  font-size: 4rem;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

h2 {
  color: var(--colorBlueSubTitle);
  font-family: "Architects Daughter", cursive;
  text-shadow: 2px 4px 0px var(--colorBlueLight);
  text-decoration: underline wavy var(--colorBlueTitle);
  font-weight: bold;
  font-size: 2.5rem;
}

h3 {
  color: var(--colorBlackText);
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

p {
  color: var(--colorBlackText);
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
}

/*Articles*/
article {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

section {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 576px) {
  body {
    font-size: 14px;
  }

  /*Articles*/
  article {
    flex-direction: column;
    margin-top: 10vh;
    width: 90vw;
  }

  section {
    flex-direction: column;
    margin-top: 5vh;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  /*Articles*/
  article {
    flex-direction: column;
    margin-top: 10vh;
    width: 85vw;
  }

  section {
    flex-direction: column;
    margin-top: 5vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 18px;
  }

  /*Articles*/
  article {
    flex-direction: column;
    margin-top: 10vh;
    width: 80vw;
  }

  section {
    flex-direction: column;
    margin-top: 5vh;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    font-size: 20px;
  }

  /*Articles*/
  article {
    flex-direction: column;
    margin-top: 10vh;
    width: 80vw;
  }

  section {
    margin-top: 5vh;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  body {
    font-size: 24px;
  }

  /*Articles*/
  article {
    flex-direction: column;
    margin-top: 10vh;
    width: 85vw;
  }

  section {
    margin-top: 5vh;
  }
}
@media screen and (min-width: 1400px) {
  body {
    font-size: 32px;
  }

  /*Articles*/
  article {
    flex-direction: column;
    margin-top: 10vh;
    width: 90vw;
  }

  section {
    margin-top: 5vh;
  }
}
/*Header*/
header {
  align-items: center;
  background-color: var(--colorBlueTitle);
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

header ul {
  align-items: center;
  display: flex;
  list-style: none;
  height: 90%;
}

header ul li {
  text-align: center;
  width: 20vw;
}

header ul li a {
  color: var(--colorBackgroundMain);
  font-family: "Source Serif Pro", serif;
  font-size: 2vw;
  text-decoration: none;
}

header ul li a:hover {
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  color: var(--colorList);
  font-family: "Source Serif Pro", serif;
  font-size: 2.3vw;
  text-decoration: underline dotted var(--colorList);
}

#contact {
  background: transparent;
  border: none;
  height: 7vh;
  position: fixed;
  width: 7vh;
  z-index: 3;
}

#contact_img {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 0.5vh solid var(--colorButtonGreen);
  height: 6vh;
  width: 6vh;
}

#contact_img:hover {
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  border: 0.7vh solid var(--colorButtonGreenHover);
  transition: 0.1s;
}

@media screen and (max-width: 576px) {
  header {
    height: auto;
    min-height: 40px;
    padding: 2vh;
    z-index: 2;
  }

  header ul {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 0;
    width: 80vw;
  }

  header ul li {
    text-align: center;
    width: 80vw;
  }

  header ul li a {
    font-size: 6vw;
  }

  header ul li a:hover {
    font-size: 6.5vw;
  }

  header img {
    height: 30px;
  }

  #contact {
    margin-left: 60vw;
    margin-top: 3vh;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  header {
    height: auto;
    min-height: 50px;
    padding: 2vh;
  }

  header ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 80vw;
  }

  header ul li {
    text-align: center;
    width: 80vw;
  }

  header ul li a {
    font-size: 6vw;
  }

  header ul li a:hover {
    font-size: 6.5vw;
  }

  header img {
    height: 40px;
  }

  #contact {
    margin-left: 70vw;
    margin-top: 4vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    height: 10vh;
    padding: 1vh;
  }

  header img {
    height: 8vh;
  }

  #contact {
    margin-left: 95vw;
    margin-top: 3vh;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  header {
    height: 10vh;
    padding: 2vh;
  }

  header img {
    height: 9vh;
  }

  #contact {
    margin-left: 92vw;
    margin-top: 3vh;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  header {
    height: 12vh;
    padding: 2vh;
  }

  header img {
    height: 10vh;
  }

  #contact {
    margin-left: 92vw;
    margin-top: 4vh;
  }
}
@media screen and (min-width: 1400px) {
  header {
    height: 15vh;
    padding: 2vh;
  }

  header img {
    height: 13vh;
  }

  #contact {
    margin-left: 95vw;
    margin-top: 5vh;
  }
}
/*Footer*/
footer {
  align-items: center;
  background-color: var(--colorBlueTitle);
  display: flex;
  height: 10vh;
  justify-content: space-around;
  margin-top: 5vh;
  width: 100vw;
}

.footer_img {
  align-items: center;
  display: flex;
  height: 9vh;
  justify-content: center;
  width: 25vw;
}

.footer_img img {
  height: 9vh;
}

.footer_text {
  align-items: center;
  color: var(--colorWhiteGreen);
  display: flex;
  height: auto;
  text-align: center;
  width: 70vw;
}

.up {
  font-size: 4vh;
  height: auto;
}

.footer_text ul {
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.down {
  height: 3vh;
}

/*Form*/
.contact button.close {
  left: 55vw;
  top: 5vh;
}

section.contact {
  align-items: center;
  background-color: var(--colorBlueLight);
  border: 1vh solid var(--colorButtonBlue);
  display: none;
  height: 70vh;
  justify-content: space-evenly;
  left: 20vw;
  position: fixed;
  top: 25vh;
  width: 60vw;
}

.contact-img {
  align-items: center;
  display: flex;
  height: 95%;
  justify-content: center;
  width: 45%;
}

.contact-img img {
  width: 90%;
}

.contact-contact {
  width: 50%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: space-evenly;
  width: 100%;
}

form input,
form textarea {
  border: 1vh solid var(--colorButtonBlue);
  width: 95%;
}

form button.tag {
  height: 8vh;
  margin-top: 1vh;
  padding: 1vh;
  width: 15vw;
}

/*First Article (Introduce)*/
article.introduce {
  margin-top: 15vh;
}

.introduce_carousel {
  display: flex;
  height: 75vh;
  justify-content: space-around;
  width: 100vw;
}

.introduce_carousel img {
  width: 90vw;
}

.carousel_buttons {
  align-items: flex-start;
  display: flex;
  height: auto;
  justify-content: space-around;
  margin-top: 2vh;
  width: 50vw;
}

button.carousel {
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  background-color: var(--colorButtonGreen);
  border-radius: 100%;
  border: 5px solid var(--colorButtonGreenBorder);
  height: 8vh;
  width: 8vh;
}

button.carousel:hover {
  background-color: var(--colorButtonGreenBorder);
  border: 5px solid var(--colorButtonGreen);
}

/*Second Article About me*/
.about-Me {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-around;
  width: 100%;
}

.resume {
  align-items: center;
  background-color: var(--colorBackgroundGreenLightly);
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-around;
  margin: 3vh;
  text-align: center;
  width: 100%;
  box-shadow: 1rem 1rem var(--colorButtonGreenBorder);
}

.resumeText {
  display: flex;
  width: 90%;
}

.resumeImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
}

.resumeImages figure {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 15vh;
  box-shadow: 0 0.6rem 0 -0.3rem var(--colorBackgroundGreenLightly), 0 -0.6rem 0 -0.3rem var(--colorBackgroundGreenLightly), 0.6rem 0 0 -0.3rem var(--colorBackgroundGreenLightly), -0.6rem 0 0 -0.3rem var(--colorBackgroundGreenLightly), 0 0 0 0.3rem var(--colorButtonGreenBorder), 0.15rem 0.15rem 0.45rem 0.15rem rgba(0, 0, 0, 0);
}

.resumeImages figure:hover {
  filter: brightness(1.25);
  -webkit-filter: brightness(1.25);
}

.resumeImages figure img {
  width: auto;
  height: 15vh;
}

.about-me {
  -moz-border-radius: 5vh;
  -ms-border-radius: 5vh;
  -o-border-radius: 5vh;
  -webkit-border-radius: 5vh;
  align-items: center;
  border-radius: 5vh;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 25vw;
}

#Web-develop {
  background: -moz-linear-gradient(90deg, var(--colorBlueDark) 0%, var(--colorBlueLight) 100%);
  background: -webkit-linear-gradient(90deg, var(--colorBlueDark) 0%, var(--colorBlueLight) 100%);
  background: linear-gradient(90deg, var(--colorBlueDark) 0%, var(--colorBlueLight) 100%);
  box-shadow: -0.5rem 0.5rem 0 0.25rem var(--colorBlueGreenDark);
}

#engineering {
  background: -moz-linear-gradient(90deg, var(--colorBlueLight) 0%, var(--colorBlueDark) 100%);
  background: -webkit-linear-gradient(90deg, var(--colorBlueLight) 0%, var(--colorBlueDark) 100%);
  background: linear-gradient(90deg, var(--colorBlueLight) 0%, var(--colorBlueDark) 100%);
  box-shadow: 0.5rem 0.5rem 0 0.25rem var(--colorBlueGreenDark);
}

#skills {
  background-color: var(--colorBlueLight);
  box-shadow: 0 0.5rem 0 0.25rem var(--colorBlueGreenDark);
}

.about-me:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.about-me_img {
  align-items: center;
  display: flex;
  height: 28%;
  justify-content: center;
}

.about-me_img img {
  height: 15vh;
}

.about-me_img img:hover {
  height: 18vh;
  animation-name: rote;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes rote {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
.about-me_description {
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
  -webkit-border-radius: 2vh;
  align-items: center;
  background-color: var(--colorBackgroundBlue);
  border-radius: 2vh;
  display: flex;
  height: 50%;
  justify-content: center;
  overflow: auto;
  width: 90%;
}

.about-me_description p {
  font-size: max(2vw, 18px);
  text-align: center;
}

.about-me_buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 20%;
  justify-content: space-around;
  width: 12vw;
}

button.timeLine,
.tag {
  -moz-border-radius: 3vh;
  -ms-border-radius: 3vh;
  -o-border-radius: 3vh;
  -webkit-border-radius: 3vh;
  background-color: var(--colorBlueGreenDark);
  border-radius: 3vh;
  border: 5px solid var(--colorBackgroundBlueLight);
  color: var(--colorBackgroundBlueLight);
  font-weight: bold;
  height: 5vh;
  width: 10vw;
}

button.timeLine:hover,
button.tag:hover {
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  background-color: var(--colorBackgroundBlueLight);
  border: 5px solid var(--colorBlueGreenDark);
  color: var(--colorBlueGreenDark);
  transition: 0.1s;
}

button.CV {
  -moz-border-radius: 2.5vh 0 0 2.5vh;
  -ms-border-radius: 2.5vh 0 0 2.5vh;
  -o-border-radius: 2.5vh 0 0 2.5vh;
  -webkit-border-radius: 2.5vh 0 0 2.5vh;
  background-color: var(--colorButtonBackgroundBlueLight);
  border-radius: 2.5vh 0 0 2.5vh;
  border: 5px solid var(--colorButtonBlueBorder);
  color: var(--colorButtonText);
  font-weight: bold;
  height: 5vh;
  margin-right: 0;
  width: 5vw;
}

button.CV:hover {
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  background-color: var(--colorButtonBlueBorder);
  border: 5px solid var(--colorButtonBackgroundBlueLight);
  color: var(--colorWhiteGreen);
  transition: 0.1s;
}

button.HV {
  -moz-border-radius: 0 2.5vh 2.5vh 0;
  -ms-border-radius: 0 2.5vh 2.5vh 0;
  -o-border-radius: 0 2.5vh 2.5vh 0;
  -webkit-border-radius: 0 2.5vh 2.5vh 0;
  background-color: var(--colorButtonBackgroundWhite);
  border-radius: 0 2.5vh 2.5vh 0;
  border: 5px solid var(--colorButtonBlueLightBorder);
  color: var(--colorButtonText);
  font-weight: bold;
  height: 5vh;
  margin-left: 0;
  width: 5vw;
}

button.HV:hover {
  background-color: var(--colorButtonBlueLightBorder);
  border: 5px solid var(--colorWhiteGreen);
  color: var(--colorWhiteGreen);
}

/*Timeline display*/
section.timeLine {
  align-items: center;
  background-color: var(--colorBlueLight);
  border: 10px solid var(--colorButtonBlue);
  display: none;
  height: 80vh;
  justify-content: space-evenly;
  position: fixed;
  top: 10vh;
  width: 95vw;
}

.timeLine_graph {
  background-color: var(--colorWhiteGreen);
  border: 5px solid var(--colorBackgroundGreenLightly);
  display: flex;
  height: 90%;
  width: 55%;
}

.timeLine_graph img {
  height: 95%;
  width: 95%;
}

.timeLine_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  width: 40%;
}

.timeLine_img {
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  align-items: center;
  background-color: var(--colorWhiteGreen);
  border-radius: 100%;
  border: 5px solid var(--colorButtonGreen);
  display: flex;
  height: 20vh;
  justify-content: center;
  margin-bottom: 1vh;
  width: 20vh;
}

.timeLine_img img {
  height: 90%;
  width: 90%;
}

.timeLine_img:hover {
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 22vh;
}

.timeLine_text {
  align-items: center;
  background-color: var(--colorBackgroundGreenLightly);
  border: 5px solid var(--colorButtonGreenHover);
  display: flex;
  height: 40vh;
  justify-content: center;
  margin-bottom: 2vh;
  width: 90%;
}

.timeLine_button {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

button.left,
button.right,
button.down {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  align-items: center;
  background-color: var(--colorBackgroundGreenLightly);
  border-radius: 50%;
  border: 3px solid var(--colorButtonBackgroundWhite);
  display: flex;
  font-weight: bolder;
  height: 6vh;
  justify-content: center;
  width: 6vh;
}

button.left:hover,
button.right:hover,
button.down:hover {
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  background-color: var(--colorButtonGreenHover);
  border-radius: 50%;
  border: 3px solid var(--colorBackgroundGreenLightly);
  transition: 0.1s;
}

button img {
  height: 3vh;
  width: 3vh;
}

button.close {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  align-items: center;
  background-color: var(--colorButtonText);
  border-radius: 50%;
  border: 3px solid var(--colorWhiteGreen);
  color: var(--colorWhiteGreen);
  display: flex;
  font-weight: bolder;
  height: 6vh;
  justify-content: center;
  position: absolute;
  width: 6vh;
}

.timeLine button.close {
  margin-bottom: 65vh;
  margin-left: 75vw;
}

button.close:hover {
  -moz-transition: 0.1ms;
  -ms-transition: 0.1ms;
  -o-transition: 0.1ms;
  -webkit-transition: 0.1ms;
  background-color: var(--colorWhiteGreen);
  border: 3px solid var(--colorButtonText);
  color: var(--colorButtonText);
  transition: 0.1ms;
}

/*Academic Projects*/
.academic-projects {
  display: flex;
}

.academic_img {
  align-items: center;
  background-color: var(--colorBlueLight);
  box-shadow: -0.5rem 0.5rem 0 0.5rem var(--colorBlueGreenDark);
  display: flex;
  height: 70vh;
  justify-content: center;
  width: 35vw;
}

.academic_img img {
  height: 68vh;
  max-width: 34vw;
  width: auto;
}

.academic_resume {
  align-items: center;
  background-color: var(--colorBackgroundGreenLightly);
  box-shadow: -0.5rem 0.5rem 0 0.5rem var(--colorButtonGreenBorder);
  color: var(--colorBlackText);
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
  width: 55vw;
}

.academic_text,
.a_project_text {
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
  -webkit-border-radius: 2vh;
  align-items: center;
  background-color: var(--colorWhiteGreen);
  border-radius: 2vh;
  display: flex;
  height: 20vh;
  padding: 1vh;
  text-align: justify;
  width: 90%;
}

.academic_class {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.academic_project {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.a_project_text {
  height: 15vh;
  text-align: center;
  width: 90%;
}

.academic_resume img {
  height: 20vh;
}

.academic_carousel {
  justify-content: space-evenly;
}

.a_carousel_main {
  -moz-border-radius: 5vh;
  -ms-border-radius: 5vh;
  -o-border-radius: 5vh;
  -webkit-border-radius: 5vh;
  border-radius: 5vh;
  display: flex;
  height: 75vh;
  width: 40vw;
}

.a_carousel_main .main_head {
  display: block;
  height: 50%;
  width: 90%;
}

.a_carousel_main .head_img {
  align-items: center;
  display: flex;
  height: 80%;
  justify-content: space-evenly;
}

.academic_carousel .main_img {
  background-color: transparent;
  width: 40%;
}

.academic_carousel .main_img img {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 90%;
  max-height: 28vh;
  max-width: 100%;
}

.academic_carousel .main_img img:hover {
  cursor: pointer;
}

.academic_carousel .description_links {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 90%;
  justify-items: center;
  width: 50%;
}

.academic_carousel .description_links img,
.academic_carousel .description_links a img {
  height: 10vh;
  width: 10vh;
}

#a_main_imgclass {
  grid-column-start: 1;
  grid-row-start: 1;
}

.academic_carousel .description_links .tag {
  grid-column-start: 2;
  grid-row-start: 1;
}

#a_main_link_deploy_0, #a_main_link_deploy_1 {
  grid-column-start: 1;
  grid-row-start: 2;
}

#a_main_link_deploy_0 img:hover, #a_main_link_deploy_1 img:hover {
  filter: brightness(5);
  -webkit-filter: brightness(5);
}

#a_main_link_github_0, #a_main_link_github_1 {
  grid-column-start: 2;
  grid-row-start: 2;
}

#a_main_link_github_0 img:hover, #a_main_link_github_1 img:hover {
  filter: brightness(5);
  -webkit-filter: brightness(5);
}

.academic_carousel .main_name {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#a_main_name_1,
#a_main_name_0 {
  font-size: 2.2vw;
  font-weight: bold;
  text-align: center;
}

#a_main_key_1,
#a_main_key_0 {
  font-size: 1.6vw;
  font-weight: bolder;
  text-align: center;
}

.academic_carousel .description_text {
  -moz-border-radius: 0 0 2vh 2vh;
  -ms-border-radius: 0 0 2vh 2vh;
  -o-border-radius: 0 0 2vh 2vh;
  -webkit-border-radius: 0 0 2vh 2vh;
  border-radius: 0 0 2vh 2vh;
  width: 100%;
}

.academic.carousel_buttons {
  height: 8vh;
  margin-top: 2vh;
  width: 100vw;
}

.a_image_principal {
  align-items: center;
  background-color: var(--colorWhiteGreen);
  display: none;
  flex-direction: column;
  height: 60vh;
  justify-content: space-between;
  position: absolute;
  width: 40vw;
}

.a_image_principal a img {
  height: 55vh;
  max-width: 100%;
}

.a_image_principal button {
  margin-left: 35vw;
}

/*Professional repositories*/
.repositories {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: space-evenly;
  width: 100vw;
}

.professional_img {
  align-items: center;
  background-color: var(--colorBlueLight);
  box-shadow: -0.5rem 0.5rem 0 0.5rem var(--colorBlueGreenDark);
  display: flex;
  height: 90%;
  justify-content: center;
  width: 40%;
}

.professional_img img {
  height: 95%;
  width: 95%;
}

.professional_resume {
  align-items: center;
  background-color: var(--colorBackgroundGreenLightly);
  box-shadow: -0.5rem 0.5rem 0 0.5rem var(--colorButtonGreenBorder);
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
  width: 50%;
}

.professional_ico {
  align-items: center;
  display: flex;
  height: 35%;
  justify-content: center;
  width: 90%;
}

.professional_ico img {
  height: 25vh;
}

.professional_ico img:hover {
  filter: brightness(5);
  -webkit-filter: brightness(5);
}

.professional_text {
  align-items: center;
  background-color: var(--colorWhiteGreen);
  display: flex;
  height: 50%;
  padding: 1vw;
  text-align: justify;
  width: 90%;
}

section.carousel {
  display: flex;
  box-shadow: 0 0.6rem 0 -0.3rem var(--colorBackgroundGreenLightly), 0 -0.6rem 0 -0.3rem var(--colorBackgroundGreenLightly), 0.6rem 0 0 -0.3rem var(--colorBackgroundGreenLightly), -0.6rem 0 0 -0.3rem var(--colorBackgroundGreenLightly), 0 0 0 0.3rem var(--colorButtonGreenBorder), 0.15rem 0.15rem 0.45rem 0.15rem rgba(0, 0, 0, 0);
  flex-direction: column;
  margin-top: 10vh;
}

.carousel {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
}

.professional_carousel,
.academic_carousel {
  align-items: flex-end;
  display: flex;
  height: 68vh;
  justify-content: space-around;
  width: 95vw;
}

.prof_carousel_main,
.a_carousel_main {
  -moz-border-radius: 5vh;
  -ms-border-radius: 5vh;
  -o-border-radius: 5vh;
  -webkit-border-radius: 5vh;
  align-items: center;
  align-self: center;
  background-color: var(--colorBackgroundGreenLightly);
  border-radius: 5vh;
  box-shadow: 0.4rem 0.4rem 0 0 var(--colorButtonGreenBorder), 0.7rem 0.7rem 0 0 #8caa8f, 1rem 1rem 0 0 #b9cbbb, 1.2rem 1.2rem 0 0 #dbe4dc, 1.2rem 1.2rem 0 0 #f1f5f2, 0.4rem 0.4rem 1rem 0.4rem rgba(0, 0, 0, 0);
  color: var(--colorGreenBlackText);
  display: flex;
  flex-direction: column;
  height: 62vh;
  justify-content: space-evenly;
  width: 40vw;
}

.main_name {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  width: 95%;
}

.main_img {
  -moz-border-radius: 5vh 5vh 0 0;
  -ms-border-radius: 5vh 5vh 0 0;
  -o-border-radius: 5vh 5vh 0 0;
  -webkit-border-radius: 5vh 5vh 0 0;
  align-items: center;
  background-color: var(--colorBlueGreenDark);
  border-radius: 5vh 5vh 0 0;
  display: flex;
  height: 25vh;
  justify-content: center;
  width: 95%;
}

.professional_carousel .main_img img {
  -moz-border-radius: 2vh 2vh 0 0;
  -ms-border-radius: 2vh 2vh 0 0;
  -o-border-radius: 2vh 2vh 0 0;
  -webkit-border-radius: 2vh 2vh 0 0;
  border-radius: 2vh 2vh 0 0;
  height: auto;
  max-height: 24.5vh;
  max-width: 100%;
  position: relative;
}

.prof_main_overlay {
  align-items: center;
  display: flex;
  height: 25vh;
  justify-content: center;
  opacity: 1;
  position: absolute;
  text-align: center;
  width: 18vw;
}

.prof_main_overlay p {
  color: white;
  font-size: 3vh;
}

#prof_main_img_link_0:hover {
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  opacity: 0.2;
  transition: all 1s;
}

.main_description {
  align-items: center;
  display: flex;
  height: 35%;
  justify-content: space-between;
  width: 95%;
}

.description_text {
  -moz-border-radius: 0 0 0 5vh;
  -ms-border-radius: 0 0 0 5vh;
  -o-border-radius: 0 0 0 5vh;
  -webkit-border-radius: 0 0 0 5vh;
  align-items: center;
  background-color: var(--colorWhiteGreen);
  color: var(--colorBlueGreenDark);
  display: flex;
  font-size: max(18px, 3vh);
  height: 85%;
  justify-content: center;
  overflow: hidden;
  padding: 0.5vh;
  text-align: justify;
  width: 75%;
}

.description_links {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: space-between;
  width: 20%;
}

.professional_carousel .description_links img {
  height: 100%;
  width: 100%;
}

.professional_carousel .description_links img:hover {
  filter: brightness(5);
  -webkit-filter: brightness(5);
}

.description_links button {
  width: 90%;
}

.main_tag {
  -moz-border-radius: 5vh;
  -ms-border-radius: 5vh;
  -o-border-radius: 5vh;
  -webkit-border-radius: 5vh;
  align-items: center;
  background-color: var(--colorWhiteGreen);
  border-radius: 5vh;
  border: 5px solid var(--colorButtonGreenBorder);
  color: var(--colorBlueGreenDark);
  display: none;
  flex-direction: column;
  font-weight: bolder;
  height: 20vh;
  justify-content: space-around;
  position: absolute;
  width: 30vw;
}

.tag_progress {
  align-items: center;
  color: var(--colorWhiteGreen);
  display: flex;
  height: 10vh;
  justify-content: space-evenly;
  text-shadow: 2px 2px 2px var(--colorBlueGreenDark);
  width: 90%;
}

.tag {
  align-items: center;
  height: 5vh;
  justify-content: center;
  margin-left: 2%;
  padding: 2%;
}

.tag_html {
  -moz-border-radius: 0 0 0 4vh;
  -ms-border-radius: 0 0 0 4vh;
  -o-border-radius: 0 0 0 4vh;
  -webkit-border-radius: 0 0 0 4vh;
  background-color: var(--colorHTML);
  border-radius: 0 0 0 4vh;
  display: flex;
  width: 20.8%;
}

.tag_html:hover {
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  background-color: var(--colorHTMLHover);
  transition: 0.1s;
}

.tag_css {
  background-color: var(--colorCSS);
  display: flex;
  width: 30.6%;
}

.tag_css:hover {
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  background-color: var(--colorCSSHover);
  transition: 0.1s;
}

.tag_js {
  -moz-border-radius: 0 0 4vh 0;
  -ms-border-radius: 0 0 4vh 0;
  -o-border-radius: 0 0 4vh 0;
  -webkit-border-radius: 0 0 4vh 0;
  background-color: var(--colorJavaScript);
  border-radius: 0 0 4vh 0;
  display: flex;
  width: 48.6%;
}

.tag_js:hover {
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  background-color: var(--colorJavaScriptHover);
  transition: 0.1s;
}

.main_tag button.close {
  height: 5vh;
  margin-bottom: 12vh;
  margin-left: 25vw;
  width: 5vh;
}

.prof_carousel_main:hover {
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-top: 1vw solid var(--colorBlueGreenDark);
  border-bottom: 1vw solid var(--colorBlueGreenDark);
  cursor: pointer;
  transition: all 0.5s;
}

.prof_carousel_aux {
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
  -webkit-border-radius: 2vh;
  border-radius: 2vh;
  box-shadow: 0.2rem 0.2rem 0 0 var(--colorButtonGreenBorder), 0.35rem 0.35rem 0 0 #8caa8f, 0.5rem 0.5rem 0 0 #b9cbbb, 0.65rem 0.65rem 0 0 #dbe4dc, 0.65rem 0.65rem 0 0 #f1f5f2, 0.2rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0);
  height: 50vh;
  width: 20vw;
}

.prof_carousel_aux:hover {
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-top: 0.5vw solid var(--colorBlueGreenDark);
  border-bottom: 0.5vw solid var(--colorBlueGreenDark);
  cursor: pointer;
  transition: all 0.5s;
}

.prof_carousel_aux .main_name p {
  display: none;
}

.prof_carousel_aux .main_img {
  -moz-border-radius: 1vh 1vh 0 0;
  -ms-border-radius: 1vh 1vh 0 0;
  -o-border-radius: 1vh 1vh 0 0;
  -webkit-border-radius: 1vh 1vh 0 0;
  border-radius: 1vh 1vh 0 0;
  height: 20vh;
}

.prof_carousel_aux .main_img img {
  -moz-border-radius: 2vh 2vh 0 0;
  -ms-border-radius: 2vh 2vh 0 0;
  -o-border-radius: 2vh 2vh 0 0;
  -webkit-border-radius: 2vh 2vh 0 0;
  border-radius: 2vh 2vh 0 0;
  height: auto;
  max-height: 18vh;
  max-width: 100%;
}

.prof_carousel_aux .description_text {
  -moz-border-radius: 0 0 0 2vh;
  -ms-border-radius: 0 0 0 2vh;
  -o-border-radius: 0 0 0 2vh;
  -webkit-border-radius: 0 0 0 2vh;
  align-items: center;
  border-radius: 0 0 0 2vh;
  font-size: max(12px, 2vh);
}

.prof_carousel_aux .description_links img {
  height: 50%;
  width: auto;
}

.prof_carousel_aux p {
  font-size: max(12px, 1vw);
}

.professional.carousel_buttons {
  align-items: flex-start;
  width: 90%;
}

.carousel_buttons button.carousel {
  height: 5vh;
  width: 5vh;
}

/*Social-media*/
.social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.links {
  background-color: var(--colorBackgroundGreenLightly);
  box-shadow: -0.5rem 0.5rem 0 0.5rem var(--colorButtonGreenBorder);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4vh;
  padding: 2vh;
  width: 40vw;
}

.Social_profile {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20vh;
  justify-content: space-around;
  padding: 2vh;
}

#social_github {
  flex-direction: row-reverse;
}

.Social_profile_text {
  align-items: center;
  background-color: var(--colorWhiteGreen);
  color: var(--colorBlackText);
  display: flex;
  display: flex;
  font-size: max(16px, 2vh);
  height: 20vh;
  justify-content: center;
  padding: 1vh;
  text-align: justify;
  width: 70%;
}

.social-media img {
  height: 20vh;
}

.s_carousel_main {
  -moz-border-radius: 5vh 5vh 0 0;
  -ms-border-radius: 5vh 5vh 0 0;
  -o-border-radius: 5vh 5vh 0 0;
  -webkit-border-radius: 5vh 5vh 0 0;
  align-items: center;
  background-color: var(--colorBackgroundGreenLightly);
  border-radius: 5vh 5vh 0 0;
  box-shadow: 0.4rem 0.4rem 0 0 var(--colorButtonGreenBorder), 0.7rem 0.7rem 0 0 #8caa8f, 1rem 1rem 0 0 #b9cbbb, 1.2rem 1.2rem 0 0 #dbe4dc, 1.2rem 1.2rem 0 0 #f1f5f2, 0.4rem 0.4rem 1rem 0.4rem rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-evenly;
  margin-top: 4vh;
  overflow: hidden;
  width: 30vw;
}

.s_carousel_main .main_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.s_carousel_main .main_head .head_img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.s_carousel_main .main_head img {
  height: 10vh;
  width: auto;
}

.s_carousel_main .main_head .main_name {
  align-items: center;
  height: auto;
  justify-content: center;
  width: 100%;
}

#s_main_name {
  font-weight: bolder;
}

#s_main_bar {
  align-self: flex-start;
  background-color: var(--colorBackgroundGreen);
  display: flex;
  height: 2vh;
  width: 0%;
}

.s_carousel_main .description_text {
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  font-size: max(15px, min(2vw, 3vh));
  height: 40vh;
  overflow: auto;
  width: 95%;
}

.s_carousel_main .description_text p {
  font-size: 1rem;
}

.s_carousel_main .description_links {
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-evenly;
  width: 100%;
}

.s_carousel_main .description_links img {
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
  -webkit-border-radius: 1vh;
  border-radius: 1vh;
  height: 8vh;
}

/*# sourceMappingURL=styles.css.map */
