/* Error: expected ")".
 *     ,
 * 130 |     background: -webkit-linear-gradient(
 *     |               ^
 *     '
 *   1-Article-About_Me.scss 130:15  @import
 *   styles.scss 6:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a     \2577 \a 130 \2502      background: -webkit-linear-gradient(\d\a     \2502                ^\a     \2575 \a   1-Article-About_Me.scss 130:15  @import\a   styles.scss 6:9                 root stylesheet';
}
